@use "../vars/colors";

.drug-dev-program-carousel {
    .card {
        background-color: rgba(255, 255, 255, 0.15);

        &:hover {
            cursor: pointer;
        }
    }
}

.drug-dev-program-table {
    tbody {
        td:first-child {
            border-radius: 10px 0 0 10px;
        }

        td:last-child {
            border-radius: 0 10px 10px 0;
        }

        tr {
            transition: 300ms;

            &:hover {
                td {
                    background-color: rgba(255, 255, 255, 0.15);
                }
            }
        }
    }
}
