$colors: (blue-300: #6EA8FE, blue-500: #0D6EFD, oxford-blue: #0B0F2F, oxford-blue-2: #0E1231, space-cadet: #2D324A)

$blue-300: map-get($colors, blue-300)
$blue-500: map-get($colors, blue-500)

// melooping variable untuk membuat style
@each $key, $value in $colors
    // warna teks
    .text-#{$key}
        color: $value

    // warna background
    .bg-#{$key}
        background-color: $value

    .border-#{$key}
        border-color: $value
