$colors: (
    blue-200: #9ec5fe,
    blue-300: #6ea8fe,
    blue-500: #0d6efd,
    blue-800: #181818,
    oxford-blue: #0b0f2f,
    oxford-blue-2: #0e1231,
    space-cadet: #232247,
    smoky-black: #121212,
    gray-700: #495057,
    light: #fff,
    light-gray: #ffffff8c,
    majorelle-blue: #7749f8
);

$blue-200: map-get($colors, blue-200);
$blue-300: map-get($colors, blue-300);
$blue-500: map-get($colors, blue-500);
$smoky-black: map-get($colors, smoky-black);
$space-cadet: map-get($colors, space-cadet);
$gray-700: map-get($colors, gray-700);
$light: map-get($colors, light);
$light-gray: map-get($colors, light-gray);

// melooping variable untuk membuat style
@each $key, $value in $colors {
    // warna teks
    .text-#{$key} {
        color: $value;
    }

    // warna background
    .bg-#{$key} {
        background-color: $value;
    }

    .border-#{$key} {
        border-color: $value !important;
    }

    .hover-text-#{$key}:hover {
        color: $value !important;
        transition: 300ms;
    }

    // warna teks table
    .table-text-#{$key} {
        --bs-table-color: #{$value};

        &:hover {
            --bs-table-color: #{$value};
        }
    }
}
