@use "../vars/colors";

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: colors.$light; /* Sesuaikan warna */
    z-index: 1;
}

.home-carousel-wrapper {
    position: relative;
    z-index: 0;
    min-height: calc(100vh - 210px); /* Sesuaikan dengan tinggi viewport dikurangi navbar */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-image {
    width: 100vw !important;
    height: calc(100vh - 210px) !important; /* Sama seperti wrapper */
    object-fit: cover !important;
}

/* Overlay untuk efek gelap di carousel */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Warna hitam transparan */
    z-index: 1;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .home-carousel-wrapper {
        min-height: 100vh; /* Full height tanpa dikurangi navbar */
    }

    .carousel-image {
        height: 100vh !important;
    }
}
