@use '../vars/colors';

.home-navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background: colors.$smoky-black; /* Warna default */
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .nav-link {
    color: colors.$light-gray;
    display: flex;
    justify-content: end;

    span {
      display: block;
      transition: 300ms;
    }
  }

  a.nav-link:hover:not(.active) {
    color: colors.$blue-200;
    opacity: 1;

    span {
      transform: translateX(-10px);
    }
  }

  .navbar-logo {
    height: 140px;
    transition: height 0.3s ease-in-out;
  }

  @media (max-width: 991px) {
    /* Bootstrap breakpoint for mobile */
    .navbar-logo {
      height: 60px;
    }
  }
}
