@use "../vars/colors";

.home-navbar {
    .nav-link {
        color: colors.$light-gray;
        display: flex;
        justify-content: end;

        span {
            display: block;
            transition: 300ms;
        }
    }

    a.nav-link:hover:not(.active) {
        color: #fff !important;
        opacity: 1;

        span {
            transform: translateX(-10px);
        }
    }
}
