@use "../vars/colors";

.table-transparent {
    --bs-table-bg: transparent;

    tbody tr {
        height: 100px;

        td {
            transition: 300ms;
        }

        &:hover {
            cursor: pointer;

            td {
                color: colors.$light;
            }
        }
    }
}
